[filemanager]
ChangePanel = tab
Find = ctrl-f
CdQuick = alt-c
Quit = ctrl-q
Edit = ctrl-e
Copy = ctrl-c
Move = ctrl-v
Delete = ctrl-d
MakeDir = ctrl-x
ShowHidden = alt-h
Menu = f1
UserMenu = f2
Reread = ctrl-r
Suspend = ctrl-z
SplitVertHoriz = alt-comma
SplitMore = alt-shift-right
SplitLess = alt-shift-left
Shell = ctrl-o
Help =
View = 
ViewFile =
EditForceInternal =
MenuLastSelected = 
QuitQuiet = 
HotList =
DirSize =
Swap =
History =
PanelListing =
SetupListingFormat =
SplitEqual =
PutCurrentPath =
PutOtherPath =
PutCurrentSelected =
PutCurrentFullSelected =
ViewFiltered =
Select =
Unselect =
SelectInvert =
ScreenList =
OptionsLayout =
OptionsAppearance =
OptionsPanel =
OptionsConfirm =
OptionsDisplayBits =
OptionsVfs =
LearnKeys =
SaveSetup =
EditExtensionsFile =
EditFileHighlightFile =
Filter =
ConnectFish =
ConnectFtp =
Undelete =
EditorViewerHistory =
ExtendedKeyMap =

[filemanager:xmap]
ChangeMode =
ChangeOwn =
ChangeAttributes =
CompareDirs =
CompareFiles =
HotListAdd =
LinkSymbolicEdit =
Link =
LinkSymbolic =
LinkSymbolicRelative =
PanelInfo =
PanelQuickView =
ExternalPanelize =
VfsList =
Jobs =
PutCurrentPath =
PutOtherPath =
PutCurrentTagged =
PutOtherTagged =
PutCurrentLink =
PutOtherLink =

[panel]
EditNew = ctrl-n
CdParent = backspace
CycleListingFormat = alt-t
Mark = space
Down = down
Up = up
Left = left
Right = right
PageUp = pgup
PageDown = pgdn
Enter = enter
BottomOnScreen = pgdown
TopOnScreen = pgup
Top = home
Bottom = end
Search =
MarkUp =
MarkDown =
MarkLeft =
MarkRight =
PanelOtherCd =
PanelOtherCdLink =
ViewRaw =
CopySingle =
MoveSingle =
DeleteSingle =
SelectExt =
Select =
Unselect =
SelectInvert =
CdChild = 
CdParentSmart =
Panelize =
History =
HistoryNext =
HistoryPrev =
MiddleOnScreen = 
PanelOtherSync = 
SelectCodepage = 
Sort =
SortPrev =
SortNext =
SortReverse =
SortByName =
SortByExt =
SortBySize =
SortByMTime =
ScrollLeft =
ScrollRight =

[dialog]
Ok = enter
Cancel = esc
Up = left; up
#Left = left; up
Down = right; down
#Right = right; down
Suspend = ctrl-z
Refresh = ctrl-r
Help =
ScreenList =
ScreenNext =
ScreenPrev =

[menu]
Left = left
Right = right
Up = up
Down = down
Home = home
End = end
Enter = enter
Quit = esc
Help =

[input]
Home = home
End = end
Left = left
Right = right
WordLeft = ctrl-left
WordRight = ctrl-right
Backspace = backspace
Delete = delete
HistoryPrev = ctrl-down
HistoryNext = ctrl-up
History = alt-h
Complete = alt-tab
MarkLeft = shift-left
MarkRight = shift-right
MarkToWordBegin = ctrl-shift-left
MarkToWordEnd = ctrl-shift-right
MarkToHome = shift-home
MarkToEnd = shift-end
DeleteToWordBegin =
DeleteToWordEnd =
Mark =
Remove =
Cut =
Store =
Paste =
Yank =
DeleteToEnd =
Clear =

[listbox]
Up = up
Down = down
Top = home
Bottom = end
PageUp = pgup
PageDown = pgdn
Delete = delete
Clear = shift-delete
Enter = enter
View = 
Edit =

[radio]
Up = up
Down = down
Top = home
Bottom = end
Select = space

[tree]
Reread = ctrl-r
ToggleNavigation = f4
Up = up
Down = down
Left = left
Right = right
Top = home
Bottom = end
PageUp = pgup
PageDown = pgdn
Enter = enter
Search = ctrl-f
Delete = delete
Help =
Forget = 
Copy =
Move =

[help]
Back = left
Quit = esc
Up = up
Down = down
PageDown = space; pgdn
PageUp = pgup
Top = home
Bottom = end
Enter = enter
LinkNext = tab
LinkPrev = alt-tab
NodeNext = n
NodePrev = p
Help =
Index =
HalfPageDown =
HalfPageUp =

[chattr]
Up = up; left; ctrl-p
Down = down; right; ctrl-n
Top = home; alt-lt; a1
Bottom = end; alt-gt; c1
PageUp = pgup; alt-v
PageDown = pgdn; ctrl-v
Mark = t; shift-t
MarkAndDown = insert

[editor]
Store = ctrl-insert
Paste = shift-insert
Cut = shift-delete
Up = up
Down = down
Left = left
Right = right
WordLeft = ctrl-left; ctrl-z
WordRight = ctrl-right; ctrl-x
Enter = enter
Return = shift-enter; ctrl-enter; ctrl-shift-enter
BackSpace = backspace
Delete = delete; ctrl-d
PageUp = pgup
PageDown = pgdn
Home = home
End = end
Tab = tab; shift-tab; ctrl-tab; ctrl-shift-tab
Undo = ctrl-u
Redo = alt-r
Top = ctrl-home; alt-lt
Bottom = ctrl-end; alt-gt
ScrollUp = ctrl-up
ScrollDown = ctrl-down
TopOnScreen = ctrl-pgup
BottomOnScreen = ctrl-pgdn
DeleteToWordBegin = alt-backspace
DeleteToWordEnd = alt-d
DeleteLine = ctrl-y
DeleteToEnd = ctrl-k
# DeleteToHome =
# ParagraphUp =
# ParagraphDown =
Save = f2
# EditFile =
EditNew = ctrl-n
SaveAs = f12; ctrl-f2
# Close =
History = alt-shift-e
Mark = f3
Copy = f5
Move = f6
Remove = f8
# MarkLine =
# MarkWord =
# MarkAll =
# Unmark =
Search = f7
SearchContinue = f17
# BlockShiftLeft =
# BlockShiftRight =
MarkPageUp = shift-pgup
MarkPageDown = shift-pgdn
MarkLeft = shift-left
MarkRight = shift-right
MarkToWordBegin = ctrl-shift-left
MarkToWordEnd = ctrl-shift-right
MarkUp = shift-up
MarkDown = shift-down
MarkToHome = shift-home
MarkToEnd = shift-end
MarkToFileBegin = ctrl-shift-home
MarkToFileEnd = ctrl-shift-end
MarkToPageBegin  = ctrl-shift-pgup
MarkToPageEnd = ctrl-shift-pgdn
MarkScrollUp = ctrl-shift-up
MarkScrollDown = ctrl-shift-down
# MarkParagraphUp =
# MarkParagraphDown =
MarkColumnPageUp = alt-pgup
MarkColumnPageDown = alt-pgdn
MarkColumnLeft = alt-left
MarkColumnRight = alt-right
MarkColumnUp = alt-up
MarkColumnDown = alt-down
# MarkColumnScrollUp =
# MarkColumnScrollDown =
# MarkColumnParagraphUp =
# MarkColumnParagraphDown =
BlockSave = ctrl-f
MarkColumn = f13
Replace = f4
ReplaceContinue = f14
Complete = alt-tab
InsertFile = f15
Quit = f10; esc
InsertOverwrite = insert
Help = f1
# Date =
Refresh = ctrl-l
Goto = alt-l
Sort = alt-t
Mail = alt-m
ParagraphFormat = alt-p
MatchBracket = alt-b
ExternalCommand = alt-u
UserMenu = f11
Menu = f9
Bookmark = alt-k
BookmarkFlush = alt-o
BookmarkNext = alt-j
BookmarkPrev = alt-i
# History =
Shell = ctrl-o
InsertLiteral = ctrl-q
# MacroStartRecord =
# MacroStopRecord =
MacroStartStopRecord = ctrl-r
# MacroDelete =
ShowNumbers = alt-n
ShowTabTws = alt-underline
SyntaxOnOff = ctrl-s
# SyntaxChoose =
# ShowMargin =
Find = alt-enter
FilePrev = alt-minus
FileNext = alt-plus
# RepeatStartStopRecord =
SelectCodepage = alt-e
# Options =
# OptionsSaveMode =
# SpellCheck =
SpellCheckCurrentWord = ctrl-p
# SpellCheckSelectLang =
# LearnKeys =
# WindowMove =
# WindowResize =
# WindowFullscreen =
# WindowList =
# WindowNext =
# WindowPrev =
# ExtendedKeyMap =

[viewer]
WrapMode = ctrl-w
Quit = ctrl-q; q; esc
HexMode = f4
Goto = f5
Search = ctrl-f
SearchForward = slash
SearchBackward = question
SearchContinue = n
SearchForwardContinue = ctrl-s
SearchBackwardContinue = ctrl-r
SearchOppositeContinue = shift-n
Home = ctrl-home
End = ctrl-end
Left = left
Right = right
LeftQuick = ctrl-left
RightQuick = ctrl-right
Up = up
Down = down
PageDown = space; pgdn
PageUp = pgup
Top = home
Bottom = end
BookmarkGoto = m
Bookmark = r
FileNext = ctrl-f
FilePrev = ctrl-b
Shell = ctrl-o
Ruler = alt-r
History =
MagicMode =
NroffMode =
HalfPageDown =
HalfPageUp =
SelectCodepage =

[viewer:hex]
Help =
HexEditMode = f2
Quit = f3; f10; q; esc
HexMode = f4
Goto = f5
Save = f6
Search = f7
SearchForward = slash
SearchBackward = question
SearchContinue = f17; n
SearchForwardContinue = ctrl-s
SearchBackwardContinue = ctrl-r
SearchOppositeContinue = shift-n
MagicMode = f8
NroffMode = f9
ToggleNavigation = tab
Home = ctrl-a; home
End = ctrl-e; end
Left = b; left
Right = f; right
Up = k; y; up
Down = j; delete; down
PageDown = pgdn; ctrl-v
PageUp = pgup; alt-v
Top = ctrl-home; ctrl-pgup; a1; alt-lt; g
Bottom = ctrl-end; ctrl-pgdn; c1; alt-gt; shift-g
History = alt-shift-e

[diffviewer]
ShowSymbols = alt-s; s
ShowNumbers = alt-n; l
SplitFull = f
SplitEqual = equal
SplitMore = gt
SplitLess = lt
Tab2 = 2
Tab3 = 3
Tab4 = 4
Tab8 = 8
Swap = ctrl-u
Redo = ctrl-r
HunkNext = n; enter; space
HunkPrev = p; backspace
Goto = g; shift-g
Save = f2
Edit = f4
EditOther = f14
Merge = f5
MergeOther = f15
Search = f7
SearchContinue = f17
Options = f9
Top = ctrl-home
Bottom = ctrl-end
Down = down
Up = up
LeftQuick = ctrl-left
RightQuick = ctrl-right
Left = left
Right = right
PageDown = pgdn
PageUp = pgup
Home = home
End = end
Help = f1
Quit = f10; q; shift-q; esc
Shell = ctrl-o
SelectCodepage = alt-e
